html {
  text-align: center;
}
.centeredElement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /*border: 2px solid red;*/
}

.mediaField {
  /*border: solid purple 3px;*/
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.videoField {
  flex: 1;
  /*border-right: solid red 3px;*/
}

.audioField {
  flex: 1;
  align-items: center;
  justify-content: center;
  /*border-left: solid blue 3px;*/
}

#flexParent {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 2px solid blue;*/
}

#rabbitVid {
  border: 3px solid black;
  border-radius: 5px;
}

#snakeAudio {
  border: 3px solid black;
  border-radius: 11px;
}
